venv/
Task2/__pycache__/
Task2/Country-data.csv
Task2/data-dictionary.csv
Task2/heart.csv
Task3/data
Task3/20018955.jpg
Task3/Golden-Retriever.jpg
Task3/pngtree-a-plane-is-flying-over-runway-isolated-png-image_19769615.jpg
